{% extends "base.html" %}

{% block content %}

<h2>Manage Game</h2>

<form method="post">
    {% csrf_token %}

    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}

        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit">Update Game</button>
</form>

{% if participation_requests %}
<p>Game Participation Requests:</p>
<ul>
    {% for participation_request in participation_requests %}
    <li>
        <a href="{% url 'game_planner_app:profile' participation_request.request_from.user.id %}">{{ participation_request.request_from }}</a>
        <button onclick="send_request('/manage_participation/', {'state': 'accepted', 'pk': '{{ participation_request.pk }}'}, this)">Add to Game</button>
        <button onclick="send_request('/manage_participation/', {'state': 'declined', 'pk': '{{ participation_request.pk }}'}, this)">Delete</button>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}