{% load static %}
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'game_planner/script.js' %}"></script>

<p>Friend requests</p>

<ul>
    {% for friend_request in friend_requests %}
    <li>
        <a href="{% url 'game_planner:profile' friend_request.request_from.user.id %}">{{ friend_request.request_from }}</a>
        <button onclick="reply('/friend_requests/', 'accepted', '{{ friend_request.pk }}', this)">Confirm</button>
        <button onclick="reply('/friend_requests/', 'declined', '{{ friend_request.pk }}', this)">Delete</button>
    </li>
    {% endfor %}
</ul>