{% if authorized %}

    <p>Game Name: {{ game.name }}</p>
    <p>Admin: {{ game.admin }}</p>

    {% if is_admin %}
        <a href="{% url 'game_planner:manage_game' game.game_id %}">Manage Game</a><br>
    {% endif %}

    {% if game.players %}
        <p>Players:</p>
        <ul>
            {% for player in game.players.all %}
                <li><a href="{% url 'game_planner:profile' player.user.id %}">{{ player.user.username }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not participating %}
        <form action="{% url 'game_planner:request_participation' game.game_id %}" method="POST">
            {% csrf_token %}
            <input id="request_participation_button" type="submit" value="Request Participation" />
        </form>
    {% endif %}


{% else %}
    <p>You're not invited to this private game.</p>
{% endif %}
