{% load static %}
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'game_planner/script.js' %}"></script>

{% if user.is_authenticated %}
    <a href="{% url 'game_planner:logout' %}">Logout</a><br>
    <a href="{% url 'game_planner:profile' user.pk %}">Profile</a><br>
    <a href="{% url 'game_planner:manage_profile' %}">Manage Profile</a><br>
    <a href="{% url 'game_planner:create_game' %}">Create Game</a><br>
    <a href="{% url 'game_planner:games' %}">Games</a><br>
    <a href="{% url 'game_planner:players' %}">Players</a><br>
    <a href="{% url 'game_planner:friend_requests' %}">Friend Requests</a><br>

    {% if notifications %}

        <p>Notifications:</p>

        <ul>
            {% for notification in notifications %}
            <li>
                <p>{{ notification }}</p>
                {% if notification.target_url and notification.url_arg %}
                    <a href="{% url notification.target_url notification.url_arg %}?notif_id={{ notification.pk }}">Go to</a>
                {% elif notification.target_url %}
                    <a href="{% url notification.target_url %}?notif_id={{ notification.pk }}">Go to</a>
                {% endif %}
                <button onclick="mark_as_read('{{ notification.pk }}', this)">Mark as read</button>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

{% else %}

    <a href="{% url 'game_planner:login' %}">Login</a><br>
    <a href="{% url 'game_planner:signup' %}">Signup</a><br>
    <a href="{% url 'game_planner:players' %}">Players</a><br>

{% endif %}