{% load static %}
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'game_planner/script.js' %}"></script>

<p>Username: {{ profile_user.username }}</p>
<p>First Name: {{ profile_user.first_name }}</p>
<p>Last Name: {{ profile_user.last_name }}</p>

{% if request_user == profile_user  %}

    <p>Email: {{ profile_user.email }}</p>
    <a href="{% url 'game_planner:manage_profile' %}">ManageProfile</a><br>

{% elif request_user %}

    {% if are_friends %}

        <form action="{% url 'game_planner:remove_friend' profile_user.id %}" method="POST">
            {% csrf_token %}
            <input id="remove_friend_button" type="submit" value="Remove Friend" />
        </form>

    {% else %}

        {% if not incoming_request and not outgoing_request %}

            <form action="{% url 'game_planner:add_friend' profile_user.id %}" method="POST">
                {% csrf_token %}
                <input id="add_friend_button" type="submit" value="Add Friend" />
            </form>

        {% elif incoming_request %}

            {% for friend_request in incoming_request %}

                <div>
                    <p>{{ profile_user.username }} has sent you a friend request.</p>
                    <button onclick="reply('/friend_requests/', 'accepted', '{{ friend_request.pk }}', this)">Confirm</button>
                    <button onclick="reply('/friend_requests/', 'declined', '{{ friend_request.pk }}', this)">Delete</button>
                </div>

            {% endfor %}

        {% elif outgoing_request %}

            {% for friend_request in outgoing_request %}
            
                <div>
                    <button onclick="reply('/friend_requests/', 'cancel', '{{ friend_request.pk }}', this)">Cancel friend request</button>
                </div>

            {% endfor %}

        {% endif %}

    {% endif %}

{% endif %}

{% if friends_list %}

    <p>Friends:</p>

    <ul>
        {% for player in friends_list %}
            <li><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>
        {% endfor %}
    </ul>

{% endif %}

{% if upcoming_games %}

    <p>Upcoming games:</p>

    <ul>
        {% for game in upcoming_games %}
            <li><a href="{{ game.get_absolute_url }}">{{ game }}</a></li>
        {% endfor %}
    </ul>

{% endif %}

{% if past_games %}

    <p>Past games:</p>

    <ul>
        {% for game in past_games %}
            <li><a href="{{ game.get_absolute_url }}">{{ game }}</a></li>
        {% endfor %}
    </ul>

{% endif %}