.navbar-top-spacer{
    margin-top:60px;
}
.default-top-spacer{
    margin-top:10px;
}
.default-bottom-spacer{
    margin-bottom:10px;
}
.default-right-spacer{
    margin-right:10px;
}
.default-left-spacer{
    margin-left:10px;
}
.half-top-spacer{
    margin-top:5px;
}
.half-bottom-spacer{
    margin-bottom:5px;
}
.half-right-spacer{
    margin-right:5px;
}
.half-left-spacer{
    margin-left:5px;
}
.fa-bell:hover {
    color: #F0F8FF !important;
}
.fa-user:hover {
    color: #F0F8FF !important;
}
.fa-user-friends:hover {
    color: #F0F8FF !important;
}
.dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 330px;
    max-height: 330px;
}
.dropdown-menu.notify-drop .notify-drop-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 15px 10px 15px;
}
.dropdown-menu.notify-drop .drop-content {
    min-height: 280px;
    max-height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.dropdown-menu.notify-drop .time {
    font-size: 10px;
    font-weight: 600;
    top: 5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 3px;
    border: 1px solid #e2e2e2;
    position: relative;
    background-image: linear-gradient(#fff,#f2f2f2);
    display: inline-block;
    border-radius: 2px;
    color: #B97745;
  }